# Vendored EonWild runtime and its hashed license must keep byte-identical
# contents across Windows, CI and production checkouts.
/vendor/babylon-9.22.1.js text eol=lf
/vendor/BABYLON-LICENSE.md text eol=lf
